* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-color: #07868a;
    --secondary-bg-color: #080741;
    --text-color: #fff;
    --header-bg-color: #fff;
    --header-text-color: #080741;
    --link-color: #080741;
    --nav-link-color: #080741;
    --section-bg-color: #fff;
    --section-text-color: #076e7c;
    --section-link-color: #074b68;
}

/* global */

body {
    background: linear-gradient(to bottom right, var(--primary-bg-color), var(--secondary-bg-color));
    font-family: 'PT Serif', serif;
    color: var(--text-color);
    line-height: 1.6;
    text-align: center;
}

h2 {
    font-size: 36px;
}

h3 {
    padding: 15px;
}

p {
    color: black;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 20px;
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

#header-logo {
    width: 120px;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

/* hero styles */
.hero-banner {
    background-image: url('../assets/images/background-art.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 280px;
    display: flex;
    align-items: flex-end;
}

.hero-banner h2 {
    padding-left: 70px;
    padding-bottom: 40px;
}

/* page section styles */
.page-section {
    padding: 20px;
}

.section-header {
    max-width: 340px;
}

.section-header h2 {
    text-align: right;
}

.section-content {
    width: 60vw;
    align-items: center;
}

.page-section.about-me {
    background-color: var(--section-bg-color);
    color: var(--section-text-color);
    display: flex;
    flex-direction: row;
}

.section-content {
    text-align: center;
    justify-content: center;
    width: 70vw;
    padding: 20px;
    padding-right: 8rem;
}

.headshot {
    height: 400px;
    width: auto;
    border-radius: 150px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vl {
    border-right: 5px solid #076e7c;
    height: 90%;
  }


.work-line {
    border-right: 5px solid #fff;
} 
/* check work line to make variable for vl */
  
.section-content.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    right: 0;
    gap: 1rem;
    align-items: center;
    padding-top: 4rem;
  }

.work-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-card {
    height: 140px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
}

.project-description {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.project-card.app-1 {
    grid-column: 1 / span 2;
    height: 200px;
}

/* Contact section styles */
.page-section.contact {
    background-color: #fff;
    color: #074b68;

}

.section-content.contact-me {
    grid-template-columns: repeat(2, 1fr);
    
  }

.vl.contact {
    border-right: 5px solid #074b68;
    height: 30%;
}

  
.contact-info {
    text-align: center;
    width: 60vw;
    padding-right: 10%;
}
  
.grid-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-icon {
    height: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.section-content.contact-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    right: 0;
    gap: 1rem;
    align-items: center;
    padding-top: 4rem;
  }

  .contact-icon {
    height: 140px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .contact-icon img {
    width: 80px;
}


@media (max-width: 768px) {
    #header-logo {
        width: 160px;
        height: auto;
        margin-left: 10px;
    }

    nav ul {
        gap: 20px;
        padding: 0;
    }

    .hero-banner h2 {
        padding-bottom: 5px;
    }

    header {
        padding: 10px; 
        display: flex;
        flex-direction: column;
    }

    .page-section {
        justify-content: center;
        
    }

    .headshot {
        height: 300px;
    }

    .section-content{
        text-align: center;
        padding: 0;
    }

    .section-header h2 {
        font-size: 36px;
        left: 0;
    }

    .section-content.portfolio {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
        width: 70vw;
        padding: 0;
      }

    .project-card.app-1 {
        grid-column: 1;
        height: 140px;
    }


    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        text-align: center; /* Center text within the container */
    }

    .work-images {
        margin-top: 15px;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .work-item {
        width: 90%; /* Expand work items to full width on mobile */
    }

    h2{
        text-align: center !important;
        padding: 0;
        margin-bottom: 1rem;
    }

    .vl {
        border-right: 0px solid #076e7c;
        height: 0px;
    }
    .vl.contact{
        border-right: 0px solid #076e7c;
        height: 0px;
    }

    .grid-contact {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}